#Checkout {
  width: 60%;
  margin: 20px auto;

  .checkout {
    background-color: #ebebeb;
    padding: 40px 40px 0 40px;

    h6 {
      font-size: .75rem;
      font-weight: bold;
      letter-spacing: 0.6px;
      margin-bottom: 1.5rem;
    }

    .check-out {
      .form-group {
        margin-bottom: 1rem;

        .form-control-label {
          margin: 4px 6px 8px 0;
          font-size: .675rem;
          letter-spacing: 0.7px;
          line-height: 12px;
        }

        .required {
          font-size: .65rem;
          line-height: 12px;
          letter-spacing: .7px;
          color: #707070;
          margin: 8px 0;
          float: right;
        }

        .form-control {
          border-radius: 0;
          border-color: #d1d1d1;
        }

      }

      .button-save-changes {
        background-color: #000;
        border-color: #000;
        color: #fff;
        min-height: 40px;
        width: 100%;
        margin-bottom: 16px;
        font-size: .75rem;
        letter-spacing: 2.2px;
        line-height: 17px;
        font-weight: bold;
      }

      .cancel-btn {
        font-size: .625rem;
        letter-spacing: 0.5px;
        margin: 10px 0 60px;
        width: 100%;
        border: none;
        background-color: transparent;
        text-decoration: underline;
      }
    }
  }

  @media only screen and  (max-width: 1028px) {
    width: 80%;
  }

  @media only screen and  (max-width: 768px) {
    width: 90%;
  }
}

