#Detail {
  width: 95%;
  margin: 0 auto;

  .pages {
    font-size: 11px;
    margin-left: 7px;

    a {
      color: rgba(0, 0, 0, 0.686);
      text-decoration: none;
      margin: 0 3px;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .detail {
    position: -webkit-sticky;
    position: sticky;
    top: 70px;
    height: 100%;

    .slider-notebook {

      .image {
        width: 100%;
        border: 1px solid lightgray;
        background-size: 170%;
        margin: 10px 0;
        background-position: 50% 50%;
        position: relative;
        width: 100%;
        background-repeat: no-repeat;
        overflow: hidden;
        cursor: zoom-in;

        img {
          width: 100%;
          transition: .3s;

          &:hover {
            opacity: 0;
          }
        }
      }

      .slick-detail-1 {
        position: -webkit-sticky;
        position: sticky;
        top: 170px;
        height: 100%;
        padding-right: 30px;

        .up-ic,
        .down-ic {
          text-align: center;
          font-size: 25px;
          cursor: pointer;
        }

        .slick-detail {
          div {
            margin: 6px 0;

            img {
              object-fit: contain;
              width: 90%;
              opacity: 0.7;
              margin: 4px 6px;
            }

            .active {
              opacity: 1;
              border: 1px solid black;
            }
          }

          i {
            width: 30px;
            height: 30px;
            padding: 8px 9px;
            background-color: #eb4d4b;
            border-radius: 50%;
            font-size: 12px;
            color: white;
          }

          .rightIcon {
            position: absolute;
            top: 85px;
            right: -12px;
          }

          .leftIcon {
            position: absolute;
            top: 85px;
            left: -12px;
            z-index: 1;
          }
        }
      }

      @media only screen and (max-width:992px) {
        display: none;
      }
    }

    .slider-phone {
      position: relative;
      display: none;

      .slick-dots {
        position: absolute;
        bottom: 10px;
        list-style: none;
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 0;


      }

      @media only screen and (max-width:992px) {
        display: block;
      }

      .image {
        position: relative;
        width: 100%;
        text-align: center;

        img {
          display: inline-block;
          width: 95%;
        }

        i {
          position: absolute;
          right: 38px;
          top: 10px;
        }


      }
    }
  }



  .sticky-detail {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    height: 100%;
    width: 40%;
    margin: 0 auto;

    .product-detail-container {
      width: 80%;

      .product-brand {
        margin-top: 10px;

        h3 {
          font-size: .75rem;
          font-weight: bold;
          letter-spacing: 1.92px;
          padding-bottom: 13px;
          line-height: 18px;
        }
      }

      .product-name {
        h1 {
          font-size: 1.625rem;
          line-height: 1.5;
          margin-bottom: 20px;
        }
      }

      .product-ratings {
        display: flex;
        align-items: center;
        margin-bottom: 18px;

        .value {
          margin-left: 15px;
          padding-right: 10px;
          border-right: 1px solid #ebebeb;
        }

        span {
          margin-left: 10px;
        }
      }

      .product-price {
        margin-bottom: 30px;

        span {
          font-size: .875rem;
          letter-spacing: .5px;

          del {
            color: #767676;
          }
        }
      }

      .member-reward {
        background-color: #f6f6f6;
        border: 2px solid #a69071;
        padding: 10px;
        font-size: 10.5px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: .8px;
        margin: 0 0 30px;

        p {
          margin: 0;
        }

        a {
          color: black;
        }
      }

      .color {
        font-size: .75rem;
        letter-spacing: 0.1rem;
        margin-bottom: 18px;

        .name {
          span {
            font-weight: bold;
          }

          .color-name {
            font-weight: 200;
            color: #707070;
            text-transform: uppercase;
          }
        }

        .detail {
          margin-top: 10px;

          .bordered {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            border-width: 1px;
            border-color: transparent;
            border-style: solid;
            border-radius: 50%;
            margin-right: 3px;

            .color {
              width: 35px;
              height: 35px;
              border: none;
              border-radius: 50%;
              margin: 4px;
            }
          }
        }
      }

      .size {
        margin-bottom: 20px;

        .size-chart {
          font-size: .75rem;
          color: #000;
          letter-spacing: 0.1rem;
          margin-bottom: 14px;

          span {
            font-weight: bold;

            button {
              background: transparent;
              border: none;
              margin: 0 0 0 4px;
              color: #767676;
            }

            .active {
              color: #000;
            }
          }

          .divider {
            border: .5px solid black;
          }
        }

        .select-size {
          button {
            margin: 0 10px 12px 0;
            width: 48px;
            height: 48px;
            padding: 0;
            background: transparent;
            border: 1px solid #d1d1d1;
            font-size: .75rem;
            line-height: 23px;
            color: #767676;
            transition: .2s;

            &:hover {
              border: 1px solid black;
              color: #000;
            }
          }

        }

        .eu {
          display: none;
        }
      }

      .korsVIP {
        font-size: .8rem;
        letter-spacing: 0.5px;
        margin: 0 0 32px;
        display: flex;
        align-items: center;

        .name {
          padding-right: 10px;
        }

        .info {
          padding-left: 12px;
          border-left: 1px solid #af906b;

          a {
            color: black;
            text-decoration: none;
            line-height: 1.5;
            padding-bottom: 2px;
            border-bottom: 1px solid rgb(0, 0, 0);
          }
        }
      }

      .quantity-add-to-bag {
        margin-top: 1.25em;
        display: flex;

        .quantity {
          width: 56px;
          margin-right: 8px;
          position: relative;
          display: inline-block;

          .qty {
            font-size: .6875rem;
            position: absolute;
            left: 5px;
            top: 2px;
            letter-spacing: 0.72px;
            line-height: 18px;
          }

          .count {
            background: none;
            font-size: .875rem;
            padding: 17px 3px 12px 22px;
            border: 1px solid #000;
          }
        }

        .add-to-bag {
          width: 100%;
          height: 100%;

          button {
            background-color: #000;
            border-color: #000;
            color: #fff;
            min-height: 48.2px;
            width: 100%;
            margin-bottom: 16px;
            font-size: .75rem;
            letter-spacing: 2.2px;
            line-height: 17px;
            font-weight: bold;
          }
        }
      }

      .srp-cs {
        margin: 30px 0;

        .cs {
          display: flex;
          align-items: center;
          letter-spacing: 0.1em;
          font-weight: bold;
          padding-left: 0;
          padding-top: 20px;
          padding-bottom: 20px;
          border-bottom: 1px solid #ebebeb;

          .text-left {
            text-align: left;
            text-transform: uppercase;
            font-size: .8rem;

            span {
              margin-left: 7px;
            }
          }

          .plus {
            padding-right: 0;
            font-size: 18px;
            color: #6c757d;
            display: flex;
            justify-content: flex-end;
          }

          .answer {
            //  margin-left: 3px;
            margin-top: 10px;
            font-weight: 100;
            font-size: .75rem;
            letter-spacing: 0.08em;
            display: none;
            transition:
              opacity 0.5s ease-in-out;

            p {
              margin-bottom: 0;
              display: flex;
              justify-content: start;
              align-items: center;
            }
          }
        }
      }
    }

    @media only screen and (max-width:992px) {
      width: 95%;
    }
  }
}