#Similar-Items {
  width: 95%;
  margin: 50px auto;

  .title {
    font-size: 26px;
    line-height: 29px;
    font-weight: 300;
    margin: 25px 0 20px;
    text-align: center;
  }

  .carousel2 {
    margin: 0 0 40px;

    .image {
      position: relative;

      img {
        width: 95%;
      }

      i {
        position: absolute;
        right: 28px;
        top: 10px;
        font-size: 20px;
        cursor: pointer;
      }
    }

    .category {
      padding-top: 20px;
      margin-bottom: 12px;
      font-size: .6875rem;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.76px;
      line-height: 13px;
    }

    .name {
      font-size: .75rem;
      letter-spacing: 0.88px;
      margin-bottom: 12px;

      a {
        text-decoration: none;
        color: #000;
      }
    }

    .price {
      font-size: .75rem;
      letter-spacing: 0.72px;
      margin-bottom: 12px;
    }
  }
}