#Cart {
    .cart {
        // display: none;

        .cart-header {
            padding: 40px 0 0 0;
            margin-bottom: 31px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #000;

            .head {
                font-size: 1.375rem;
                line-height: 27px;
            }

            .subtotal {
                font-size: .625rem;
                letter-spacing: 0.5px;
            }
        }

        .nav-cart {
            padding-bottom: 12px;
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 32px;
            line-height: 15px;

            .nav-items {
                margin-right: 56px;

                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 13px;
                    letter-spacing: 0.5px;
                }
            }

            .active {
                border-bottom: 2px solid #000;
                color: #000;
                padding-bottom: 13px;
            }
        }

        .cart-promotion {
            background-color: #aa8f6d;
            font-family: "Kors Sans Medium", arial, sans-serif;
            color: #fff;
            padding: 10px;
            font-size: .625rem;
            font-weight: bold;
            margin-bottom: 16px;
            text-align: left;
            display: flex;
        }

        .ship-to-home {
            .ship-to-address {
                background: #f4f4f4;
                padding: 11px 22px;
                margin-bottom: 24px;
                line-height: 12px;
                text-transform: uppercase;
                font-size: .625rem;
                letter-spacing: 0.5px;
                font-weight: bold;
            }
        }

        .product-card-subheader {
            font-size: .625rem;
            color: #000;
            margin: 0 0 10px 0;
            width: 100%;

            .subDesc {
                display: flex;
                justify-content: right;
            }

            .lineDown {
                width: 98%;
                margin: 0 auto;
                height: 1px;
                background-color: #ebebeb;
            }
        }

        .image-info {
            margin: 1.25rem 1.25rem 2rem 10px;
            display: flex;
            align-items: flex-start;

            .product-figure-block {
                max-width: 7.5rem;

                padding: 0;


                img {
                    width: 100%;
                    margin-bottom: 18px;
                }

                a {
                    width: 100%;
                    color: #000;
                    text-decoration: none;
                    font-size: .5rem;
                    line-height: 9.6px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;

                    div {
                        display: flex;
                        align-items: center;

                        i {
                            font-size: .75rem;
                            margin-right: 8px;
                        }
                    }
                }
            }

            .head {
                font-size: .75rem;

                .header {
                    letter-spacing: .5px;
                }

                .in-demand {
                    margin: 10px 0 20px;
                    padding: 6px;
                    letter-spacing: .5px;
                    background-color: #f5f5f5;
                    // height: 44px;
                    border-radius: 6px;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;

                    p {
                        margin: 0;

                        i {
                            font-size: 17px;
                            padding: 0 7px;
                        }
                    }
                }

                .detail {
                    font-size: .625rem;
                    color: #707070;
                    letter-spacing: 0.05em;
                    margin: 4px 0;
                }

                .pick-up {
                    a {
                        color: #000;
                        font-size: 10px;
                        letter-spacing: .5px;
                        margin-left: 5px;
                    }
                }
            }

            .price-x {
                font-size: .75rem;
                display: flex;
                justify-content: right;
                margin-top: 10px;
            }

            .remove {
                width: 100%;
                cursor: pointer;
                font-size: 25px;
                display: flex;
                justify-content: right;
            }

            .lineDown {
                width: 100%;
                height: 1px;
                background-color: #ebebeb;
            }
        }
    }

    .empty-cart {

        display: none;

        .nav-cart {
            padding-bottom: 12px;
            border-bottom: 1px solid #ebebeb;
            margin-bottom: 32px;
            line-height: 15px;

            .nav-items {
                margin-right: 56px;

                a {
                    color: #000;
                    text-decoration: none;
                    font-size: 13px;
                    letter-spacing: 0.5px;
                }
            }

            .active {
                border-bottom: 2px solid #000;
                color: #000;
                padding-bottom: 13px;
            }
        }

        .subtext-emptycart {
            margin-bottom: 24px;
            margin-top: 60px;
            text-align: center;
            font-size: .875rem;
            padding-bottom: 48px;

            button {
                font-size: .75rem;
                background-color: #000;
                border-color: #000;
                color: #fff;
                min-height: 40px;
                letter-spacing: 0.1em;
                padding: 10px;
                text-transform: uppercase;
            }
        }
    }

    .fave {
        // display: none;

        .favourite {
            border-bottom: 1px solid #ebebeb;

            .headline {
                text-align: center;
                padding: 24px 0 0;
                text-transform: uppercase;
                color: #494747;
                margin-bottom: 10px;
                font-size: 20px;
            }

            .spm {
                display: flex;
                justify-content: center;
                align-items: center;
                padding-top: 17px;

                p {
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: .55rem;
                        letter-spacing: 0.4px;
                        text-transform: uppercase;
                        margin-right: 32px;

                        i {
                            margin-right: 3px;
                        }
                    }

                    .opacity {
                        opacity: 40%;
                    }
                }
            }
        }

        .wishlist {
            margin: 40px 0;
            padding: 0;
            border-bottom: 1px solid #ebebeb;

            .wishlist-item {
                // width: 30%;
                margin-bottom: 40px;

                .image-x {
                    position: relative;

                    img {
                        width: 100%;
                    }

                    .absolute {
                        cursor: pointer;
                        position: absolute;
                        top: 0;
                        right: 7px;

                        i {
                            font-size: 25px;
                        }
                    }
                }

                .line-item-name {
                    padding-top: 20px;
                    padding-right: 30px;
                    font-size: 12px;
                    font-weight: bold;
                    letter-spacing: 1.2px;
                    line-height: 15px;
                    margin-bottom: 12px;
                    color: #222;
                }

                .price {
                    text-transform: uppercase;
                    font-size: .625rem;
                    margin: 0;
                    color: #707070;
                    margin-bottom: 12px;
                }

                .select-btn {
                    font-size: .6875rem;
                    border: 1px solid #000;
                    background-color: #fff;
                    letter-spacing: 2.2px;
                    line-height: 17px;
                    padding: 10px 0;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: bold;
                }
            }
        }
    }

    .no-fave {

        display: none;

        .no-fav-items {
            border-bottom: 1px solid #ebebeb;

            .headline {
                text-align: center;
                padding: 24px 0 0;
                text-transform: uppercase;
                color: #494747;
                font-size: 20px;

                p {
                    margin: 0;
                }
            }

            .no-items {
                text-align: center;
                padding-bottom: 48px;
                line-height: 33px;
                font-size: .875rem;
            }
        }

        .wishlist-content {
            background-color: #f6f6f6;
            padding: 40px;
            margin: 40px auto 48px;
            text-align: center;

            .wishlist-header {
                font-size: 1.125rem;
                line-height: 22px;
                padding-bottom: 24px;
            }

            .wishlist-body {
                font-size: .8rem;
                line-height: 18px;
                padding-bottom: 28px;
            }

            .signin-signup {
                font-size: .8rem;
                display: flex;
                justify-content: center;
                font-weight: bold;

                a {
                    text-decoration: none;
                    cursor: pointer;
                    color: #000;
                }

                .signup-wishlist {
                    border-bottom: 1px solid #000;
                    line-height: 16px;
                    margin-bottom: 12px;
                }

                .separator {
                    margin: 0 8px;
                }
            }
        }
    }

    .right {
        margin: 40px auto 20px auto;
        padding: 0 0 0 50px;

        .no-element {
            display: none;

            .promo-code {
                margin-bottom: 20px;

                .btn {
                    font-size: .6875rem;
                    border: 1px solid #000;
                    background-color: #fff;
                    letter-spacing: 2.2px;
                    line-height: 17px;
                    padding: 15px 19px;
                    width: 100%;
                    text-transform: uppercase;
                    font-weight: bold;
                    border-radius: 0;
                }
            }

            .cart-KorsVIP {
                padding: 20px;
                border: 1px solid #aa8f6d;
                margin-bottom: 20px;

                .korsVIP-logo {
                    font-size: .75rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 16px;

                    .studio {
                        background-color: #000;
                        color: #fff;
                        font-family: "Kors Sans Book", arial, sans-serif;
                        padding: 1px 2px;
                        text-transform: uppercase;
                        letter-spacing: 0.8px;
                        font-size: .5rem;
                        line-height: 13px;
                        margin-left: 2px;
                        top: -1px;
                    }
                }

                .text-left {
                    .points {
                        display: flex;
                        align-items: center;
                        padding: 0;
                        border-bottom: 1px solid #ebebeb;
                        margin-bottom: 20px;

                        .writing {
                            padding-right: 0;
                            font-size: .75rem;
                        }

                        .earning {
                            display: flex;
                            justify-content: flex-end;
                            padding-left: 0;
                            font-size: 1.25rem;
                        }
                    }

                    .current-points {
                        font-size: .625rem;
                        letter-spacing: 0.4px;

                        .new {
                            display: flex;
                            justify-content: flex-end;
                        }

                        p {
                            margin: 0 0 8px;
                        }
                    }
                }

            }

            .order-summary {
                border: 1px solid #000;
                padding: 20px;
                text-align: left;
                color: #000;
                margin-bottom: 20px;

                .order-summary-heading {
                    font-size: .75rem;
                    line-height: 15px;
                    letter-spacing: 1px;
                    margin-bottom: 18px;
                    text-align: center;
                }

                .text {
                    border-bottom: 1px solid #ebebeb;
                    font-size: .625rem;
                    letter-spacing: 0.5px;
                    color: #000;
                    margin-bottom: 20px;

                    .price {
                        display: flex;
                        justify-content: flex-end;

                        input {
                            height: 23px;
                        }
                    }

                    p {
                        margin: 0 0 20px;
                    }
                }

                .order {
                    margin-bottom: 20px;
                    font-size: .75rem;
                    letter-spacing: .5px;
                    font-weight: bold;

                    .price {
                        display: flex;
                        justify-content: flex-end;
                    }

                    p {
                        margin: 0;
                    }
                }

                .checkout {
                    .checkout-btn {
                        font-size: .6875rem;
                        letter-spacing: 2px;
                        padding: 12px 19px;
                        text-transform: uppercase;
                        font-weight: bold;
                        margin-bottom: 0;
                        background-color: #000;
                        border-color: #000;
                        color: #fff;
                        min-height: 40px;
                        width: 100%;
                    }
                }

            }
        }

        .payment-method {
            background: #f4f4f4;
            padding: 20px;
            margin-bottom: 20px;

            h6 {
                font-size: .625rem;
                font-weight: bold;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 20px;
            }

            ul {
                list-style-type: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0;

                li {
                    width: 30px;
                    height: 30px;
                    margin: 5px 10px;

                    img {
                        max-width: 100%;
                    }
                }
            }


        }

        .shipping {
            text-align: center;
            background: #f4f4f4;
            padding: 20px;
            margin-bottom: 20px;
            font-size: .75rem;
            letter-spacing: 0.5px;
        }

        .srp-cs {
            background: #f8f8f8;
            padding: 24px 20px 0 20px;

            .help-text {
                text-align: center;
                text-transform: uppercase;
                font-weight: bold;
                font-size: .875rem;
                margin: 0 auto;
                color: #000;
                padding-bottom: 8px;
                letter-spacing: 1px;
                line-height: 13px;
            }

            .cs {
                font-size: .8rem;
                display: flex;
                align-items: center;
                letter-spacing: 0.1em;
                font-weight: bold;
                margin-top: 16px;
                padding-left: 0;
                padding-bottom: 12px;
                border-bottom: 1px solid #ebebeb;
                cursor: pointer;

                &:last-child {
                    border-bottom: 0;
                }

                .text-left {
                    text-align: left;

                    span {
                        margin-left: 7px;
                    }
                }

                .plus {
                    padding-right: 0;
                    font-size: 18px;
                    color: #6c757d;
                    display: flex;
                    justify-content: flex-end;
                }

                .answer {
                    font-weight: 100;
                    font-size: .75rem;
                    letter-spacing: 0.08em;
                    display: none;
                    transition: opacity 0.5s ease-in-out;

                    p {
                        margin-bottom: 0;
                    }

                    button {
                        min-width: 97px;
                        min-height: 30px;
                        letter-spacing: 0.7px;
                        color: #fff;
                        font-size: .75rem;
                        margin: 17px 0 0;
                        background-color: #000;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
                }


            }
        }

        @media only screen and (max-width:992px) {
            padding: 0 12px;
        }
    }

    .love {
        padding: 0 0 36px;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.125rem;
        color: #000;
    }

    .carousel2 {
        margin: 0 0 40px;

        .image-x {
            position: relative;
            width: 95%;

            img {
                width: 100%;
            }

            .absolute {
                cursor: pointer;
                position: absolute;
                top: 10px;
                right: 10px;

                i {
                    font-size: 18px;
                }
            }
        }

        .category {
            padding-top: 20px;
            margin-bottom: 12px;
            font-size: .6875rem;
            font-weight: bold;
            text-transform: uppercase;
            letter-spacing: 1.76px;
            line-height: 13px;
        }

        .name {
            font-size: .75rem;
            letter-spacing: 0.88px;
            margin-bottom: 12px;

            a {
                text-decoration: none;
                color: #000;
            }
        }

        .price {
            font-size: .75rem;
            letter-spacing: 0.72px;
            margin-bottom: 12px;
        }
    }
}