@using Final_project.Models;
@{
    ViewData["Title"] = "Reset Password";
}

@model AccountViewModel

<section id="Reset-Password">
    <div class="container">
        <div class="reset-container">
            <h3>
                Reset Your Password
            </h3>
            <div class="request-password-body">
                <div class="exclamation">!</div>
                <div class="content">
                    <p>
                        We’ve upgraded our website! To log in to the new site, you’ll need to reset your password. Enter your
                        email address below to receive an email with instructions on how to reset your password.
                    </p>
                    <h6>Your secure password must:</h6>
                    <ul>
                        <li>Contain 8 – 20 characters</li>
                        <li>Have at least one number</li>
                        <li>Have uppercase and lowercase characters</li>
                        <li>Have at least one special character</li>
                    </ul>
                </div>
            </div>
            <form class="password" method="post" asp-controller="Account" asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger" style="color:red"></div>
                <div class="d-none">
                    <input asp-for="Token" class="form-control" readonly>
                    <input asp-for="User.Email" class="form-control" readonly>
                    <input asp-for="User.BasketItems" class="form-control" readonly>
                    <input asp-for="User.SurName" class="form-control" readonly>
                    <input asp-for="User.Name" class="form-control" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="form-control-label" for="Password">New Password*</label>
                    <div class="password-input-container" style="position:relative;">
                        <input asp-for="Password" type="password" class="form-control toggleable-password" id="password">
                        <span class="toggle-password toggle-password-hide" style="position:absolute; top:10px;right:10px;; z-index:1;">
                            <img src="~/assets/images/Hide.svg" alt="">
                        </span>
                        <span class="toggle-password toggle-password-show d-none" style="position:absolute; top:10px;right:10px;; z-index:1;">
                            <img src="~/assets/images/Show.svg" alt="">
                        </span>
                    </div>
                    <span asp-validation-for="Password" style="color:red"></span>

                </div>
                <div class="form-group">
                    <label asp-for="ConfirmPassword" class="form-control-label" for="Password">Confirm Password*</label>
                    <div class="password-input-container" style="position:relative;">
                        <input asp-for="ConfirmPassword" type="password" class="form-control toggleable-password" id="password">
                        <span class="toggle-password toggle-password-hide" style="position:absolute; top:10px;right:10px;; z-index:1;">
                            <img src="~/assets/images/Hide.svg" alt="">
                        </span>
                        <span class="toggle-password toggle-password-show d-none" style="position:absolute; top:10px;right:10px;; z-index:1;">
                            <img src="~/assets/images/Show.svg" alt="">
                        </span>
                    </div>
                    <span asp-validation-for="ConfirmPassword" style="color:red"></span>

                </div>
                <button class="send-email" type="submit">RESET PASSWORD</button>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/js/password.js"></script>
}