@{
    ViewData["Title"] = "Contact Us";
}

<section id="Contact-Us">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title">Contact Us</div>
            </div>
            <div class="col-md-12 contact">
                <div class="row">
                    <div class="col-md-4 part">
                        <div class="header">
                            <img src="~/assets/images/10_Chat_bot.svg" alt="">
                            <p>Chat with us</p>
                        </div>
                        <p class="main">
                            We’re available Monday through Friday from 9 AM to 9 PM EST, and
                            Saturday & Sunday from 10
                            AM to 6 PM EST.
                        </p>
                        <button class="btn">Chat now</button>
                    </div>
                    <div class="col-md-4 part">
                        <div class="header">
                            <img src="~/assets/images/11_Call.svg" alt="">
                            <p>Give us a call</p>
                        </div>
                        <p class="main">
                            We’re available Monday through Friday from 9 AM to 9 PM EST, and
                            Saturday & Sunday from 10
                            AM to 6 PM EST.
                        </p>
                        <p class="main">1-866-709-KORS (5677)</p>
                    </div>
                    <div class="col-md-4 part">
                        <div class="header">
                            <img src="~/assets/images/63_Envelope.svg" alt="">
                            <p>Write to us</p>
                        </div>
                        <p class="main">Fill out our form and a Style Consultant will contact you.</p>
                        <button class="btn">Write now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>