@{
    ViewBag.Title = "Admin Home";
}
<style>
    .demo-wrap {
        overflow: hidden;
        position: relative;
        height:100vh;
    }

    .demo-bg {
        opacity: 0.5;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
    }

    .demo-content {
        position: relative;
    }
</style>
    <div class="demo-wrap">
        <img class="demo-bg"
         src="~/assets/images/michael-kors.jpg"
             alt="">
        <div class="demo-content">
        </div>
    </div>

