#AboutUs {
  width: 95%;
  margin: 20px auto;

  .image {
    img {
      width: 100%;
    }
  }

  .kors {
    text-align: center;
    width: 90%;
    margin: 20px auto;

    h2 {
      font-weight: bold;
      font-size: 45px;
      letter-spacing: 2px;
      text-transform: uppercase;
    }

    p {
      font-size: 17px;
      letter-spacing: 1px;
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-style: normal;
    }

  }

  .design {
    width: 85%;
    margin: 70px auto;
    text-align: center;

    p {
      font-weight: 600;
      font-size: 36px;
      letter-spacing: 1.5px;
      font-family: "Playfair Display", serif;
      font-optical-sizing: auto;
      font-style: normal;
    }
  }

  @media only screen and (max-width:768px) {
    width: 100%;

    .kors {
      width: 100%;
    }

    .design {
      width: 97%;

      p {
        font-size: 20px;
      }
    }
  }
}