#Register{
  width: 95%;
  margin: 0 auto;

  .create-account-header{
    h2{
      font-size: 1.375rem;
    color: #000;
    margin: 17px 0 24px;
    line-height: 22px;
    }

    p{
      font-size: .75rem;
    line-height: 18px;
    letter-spacing: .5px;
    color: #000;
    margin-bottom: 44px;
    }
  }

  .registration{
    
    .form-group{
      margin-bottom: 1rem;
      .form-control-label{
        margin: 4px 6px 8px 0;
        font-size: .675rem;
        color: #000;
        letter-spacing: 0.7px;
        line-height: 12px;
      }
      .required{
        font-size: .65rem;
        line-height: 12px;
        letter-spacing: .7px;
        color: #707070;
        margin: 8px 0;
        float: right;
      }

      .form-control{
        border-radius: 0;
        border-color: #d1d1d1;
        height: 45px;
      }
      .password-input-container{
        position: relative;
        .toggle-password {
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }

    .line{
      border-bottom: 1px solid #ebebeb;

    }

    .form-check{
      margin: 1rem 0 24px;
      .form-check-input{
        border-radius: 0;
        border-color: black;
      }
      .form-check-label{
        line-height: 16px;
        letter-spacing: 0.3px;
        font-size: .675rem;
      }
    }

    .button-submit{
      background-color: #000;
      border-color: #000;
      color: #fff;
      min-height: 40px;
      width: 100%;
      margin-bottom: 16px;
      font-size: .75rem;
      letter-spacing: 2.2px;
      line-height: 17px;
      font-weight: bold;
    }

    .sign-me{
      font-size: .66rem;
      letter-spacing: .3px;
      margin-bottom: 20px;
      p{
        margin-bottom: 0;
      }
    }
  }

  .loyalty-enabled{
    background: url('https://www.michaelkors.com/on/demandware.static/-/Library-Sites-MK_SharedLibrary/default/dwf6b777c6/kors-vip/Desktop_Learn%20more_content%20assets_bg%403x.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    padding: 30px;

    .korsVIP-logo{
      text-align: center;
      width: 134px;
      margin: 0 auto;
    }

    .korsVIP-brief{
      h2{
        letter-spacing: 0.9px;
        line-height: 22px;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 22px;
      }

      p{
        font-size: 13px;
        letter-spacing: 0.6px;
        line-height: 18px;
        color: #000;
      }
    }

    .korsVIP-stages{
      margin: 22px 0 30px;
      
      ul{
        display: flex;
        list-style-type: none;
        padding: 0;

        li{
          .korsVIP-stage{
            font-size: 11px;
            font-weight: bold;
            margin-bottom: 6px;
            letter-spacing: 0.05em;
            line-height: 13px;
            color: #000;
            text-align: left;
            text-transform: uppercase;
          }

          .korsVIP-points{
            font-size: 11px;
            line-height: 13px;
            letter-spacing: 0.05em;
          }
        }

        .bar{
          background: #707070;
          height: 26px;
          width: 1px;
          margin: 4px 30px;
        }
      }
    }

    .korsVIP-benefits{
      h2{
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 22px;
        letter-spacing: 0.9px;
      }

      .earning-points{
        background-color: #fff;
        border: 2px solid #af906b;
        width: 100%;
        padding: 11px 0;

        .points{
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 100%;
          max-width: 150px;
          margin: 0 auto;
          color: #af906b;

          .points-highlighted{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #af906b;
            color: #fff;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            font-size: 14px;
            line-height: 22px;
            flex-direction: column;

            .points-count{
              display: flex;
              flex-wrap: wrap !important;
              align-content: center;
            }

            .word{
              font-size: 7px;
              line-height: 11px;
              color: #fff;
              letter-spacing: 0px;
            }
          }
        }

        p{
          font-size: 13px;
          line-height: 21px;
          text-align: center;
          margin: 13px 0 0 0;
          letter-spacing: .3px;
          color: #000;
        }
      }
    }

    .how-content{
      margin-top: 30px;

      ul{
        list-style-type: none;
        display: flex;
        padding-left: 0;
        li{
          padding-right: 22px;
          display: flex;
          flex-direction: column;
          
          .how-points-work-image{
            margin-bottom: 10px;
            text-align: center;
            img{
              height: 30px;
            }
          }
          .how-details{
            font-size: 12px;
            line-height: 16px;
            text-align: center;
          }
        }
      }
    }

    .mk-korsVIP-benefits{
      margin-bottom: 30px;
      .korsVIP-sub-title{
        letter-spacing: 1px;
        line-height: 22px;
        font-size: 18px;
        margin-top: 30px;
        margin-bottom: 22px;
      }

      .korsVIP-benefit-list{
        ul{
          padding-left: 0;
          list-style-type: none;
          display: flex;
          align-items: center;
          li{
            padding-right: 46px;
            display: flex;
            align-items: center;
            img{
              height: 34px;
              width: 34px;
            }
            .label{
              padding-left: 10px;
              font-size: 12px;
              color: #000;
              letter-spacing: 0.05em;
            }
          }
        }
      }
    }

    .learn-more-link{
      text-align: center;
      a{
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        padding-bottom: 2px;
        border-bottom: 1px solid #000000;
        text-decoration: none;
        color: #000;
      }
    }

    @media only screen and (max-width:992px) {
      margin: 20px 0;
    }

    @media only screen and (max-width:768px) {
      display: none;
    }
  }
}