#Order-History {
  .overview {
    padding: 40px 22px 16px;

    .account {
      padding: 0 0 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ebebeb;

      .left {
        h3 {
          line-height: 34px;
          font-size: 1.125rem;
          letter-spacing: 0.8px;
        }

        p {
          line-height: 15px;
          letter-spacing: 0.6px;
          font-size: .75rem;
        }

        @media only screen and (max-width:768px) {
          text-align: center;
          width: 100%;
          margin: 0 auto;

          h3 {
            font-size: 30px;
          }

          p {
            font-size: 16px;
            word-spacing: 3px;
            letter-spacing: 3px;
          }
        }
      }

      .right {
        text-align: right;

        h6 {
          letter-spacing: 1px;
          font-size: .625rem;
          font-weight: bold;
        }

        p {
          font-size: .655rem;
          margin-top: 0.5rem;
          margin-bottom: 0;
        }

        a {
          color: black;
          letter-spacing: 0.5px;
          font-size: .7rem;
          transition: .3s;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  .overview-container {
    padding: 40px 12px 0 12px;

    @media only screen and (max-width:768px) {
      padding-top: 1px;
    }

    .my-menu {
      border-bottom: 1px solid rgb(202, 202, 202);
      display: none;
      padding: 15px 10px 0;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      h4 {
        text-transform: uppercase;
        font-size: 16px;
        margin: 0;
        padding-top: 0;
        padding-bottom: 13px;
      }

      @media only screen and (max-width:768px) {
        display: flex;
      }
    }

    .left-side {
      @media only screen and (max-width:768px) {
        display: none;
        padding: 15px;
        padding-bottom: 0;

        ul {
          padding-bottom: 0;
          margin-bottom: 0;

          li {
            margin: 0;
          }
        }

        .logout {
          padding-top: 0;
          margin: 0;

        }
      }

      ul {
        list-style-type: none;
        padding-left: 0;
        padding-bottom: 20px;

        li {
          margin-bottom: 16px;
          font-size: .625rem;
          letter-spacing: .5px;
          text-transform: uppercase;

          a {
            color: black;
            text-decoration: none;
          }
        }

        .active {
          font-weight: bold;
        }
      }

      .line {
        border-bottom: 1px solid #ebebeb;
        width: 40%;
      }

      .logout {
        padding-top: 10px;

        a {
          letter-spacing: 0.5px;
          font-size: .655rem;
          color: black;
          transition: .3s;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }

    .order-history {
      .title {
        h4 {
          text-transform: uppercase;
          font-weight: 1;
          font-size: 18px;
          padding: 20px 0;
          border-bottom: 1px solid rgba(136, 136, 136, 0.601);
        }

        @media only screen and (max-width:768px) {
          margin-top: 30px;
          text-align: center;
        }

      }

      .orders {
        .order {
          margin: 1.25rem 1.25rem 2rem 10px;
          display: flex;
          flex-wrap: wrap;
          align-items: flex-start;

          .product-figure-block {
            max-width: 7.5rem;
            padding: 0;

            img {
              width: 100%;
              margin-bottom: 18px;
            }

            a {
              width: 100%;
              color: #000;
              text-decoration: none;
              font-size: .5rem;
              line-height: 9.6px;
              letter-spacing: 0.05em;
              text-transform: uppercase;

              div {
                display: flex;
                align-items: center;

                i {
                  font-size: .75rem;
                  margin-right: 8px;
                }
              }
            }
          }

          .head {
            font-size: .75rem;

            .header {
              letter-spacing: .5px;
            }

            .detail {
              font-size: .625rem;
              color: #707070;
              letter-spacing: 0.05em;
              margin: 4px 0;
            }

            .pick-up {
              a {
                color: #000;
                font-size: 10px;
                letter-spacing: .5px;
                margin-left: 5px;
              }
            }
          }

          .price-x {
            font-size: .75rem;
            display: flex;
            justify-content: right;
            margin-top: 10px;
          }

          .remove {
            cursor: pointer;
            font-size: 25px;
            display: flex;
            justify-content: right;
          }
        }
      }
    }
  }
}