@{
    ViewData["Title"] = "About";
}

<section id="AboutUs">
    <div class="container-fluid about">
        <div class="row">
            <div class="col-md-12">
                <div class="image">
                    <img src="~/assets/images/ABOUT_US_1.webp" alt="">
                </div>
            </div>

            <div class="col-md-12 kors">
                <h2>About Us</h2>
                <p>
                    Michael Kors is a world-renowned, award-winning designer of luxury accessories and
                    ready-to-wear. His namesake company, established in 1981, currently produces a range of
                    products under his signature Michael Kors Collection, MICHAEL Michael Kors and Michael Kors
                    Mens labels. These products include accessories, footwear, watches, jewelry, women’s and
                    men’s ready-to-wear, wearable technology, eyewear and a full line of fragrance products.
                </p>
                <p>
                    Michael Kors stores are operated, either directly or through licensing partners, in some of
                    the most prestigious cities in the world, including New York, Los Angeles, Chicago, London,
                    Milan, Paris, Munich, Dubai, Seoul, Tokyo, Hong Kong, Shanghai and Rio de Janeiro. The
                    company prides itself on hiring and retaining diverse talent and providing an inclusive work
                    environment for all, while celebrating global events and cultures that reflect the
                    diversity, experiences and perspectives of people around the world.
                </p>
                <p>
                    Behind this burgeoning empire stands a singular designer with an innate sense of glamour and
                    an unfailing eye for timeless chic. Michael Kors has won numerous accolades within the
                    fashion industry, been honored for his philanthropy, and earned the respect and affection of
                    millions. Wholly dedicated to a vision of style that is as sophisticated as it is indulgent,
                    as iconic as it is modern, he has created an enduring luxury lifestyle empire with a global
                    reach.
                </p>
            </div>

            <div class="col-md-12">
                <div class="image">
                    <img src="~/assets/images/ABOUT_US_2.webp" alt="">
                </div>
            </div>

            <div class="col-md-12 design">
                <p>
                    “I design for women and men who need clothing and accessories that can keep up with their
                    fast-paced lives and make them feel like their best selves.”
                </p>
            </div>
        </div>
    </div>
</section>

<section id="Story">
    <div class="container-fluid">
        <div class="col-md-12 story">
            <div class="row">
                <div class="col-md-6 image1">
                    <img src="~/assets/images/ABOUT_US_3.webp" alt="">
                </div>
                <div class="col-md-6 story-part">
                    <h5>MICHAEL'S STORY</h5>
                    <p>
                        Designer Michael Kors was raised in Merrick, Long Island, a suburban town 23 miles from
                        New York City. His keen eye for fashion was evident at a young age: at five, he advised
                        his mother, Joan, to cut the bows off her wedding dress for her second marriage. She
                        removed the bows.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-12 story">
            <div class="row">
                <div class="col-md-6 story-part">
                    <p>
                        Kors graduated from high school in 1977 and attended the Fashion Institute of
                        Technology in New York City. He also took a job at Lothar’s, a trendsetting boutique
                        on West 57th Street, where his talents were noticed by Dawn Mello, then executive
                        vice president of Bergdorf Goodman. Mello encouraged Kors to contact her if he ever
                        designed a collection. Kors did just that, and in 1981 officially launched his own
                        line. He held his first runway show in 1984, sending Iman down the runway in a
                        turtleneck and gray flannels.
                    </p>
                </div>
                <div class="col-md-6 image2">
                    <img src="~/assets/images/ABOUT_US_4.webp" alt="">
                </div>
            </div>
        </div>
        <div class="col-md-12 story">
            <div class="row">

                <div class="col-md-6 image1">
                    <img src="~/assets/images/ABOUT_US_5.jpg" alt="">
                </div>
                <div class="col-md-6 story-part">
                    <p>
                        Kors was successful from the start, designing chic, luxurious sportswear that was both
                        glamorous and effortless. He built a reputation as a designer who understands how women
                        live and how they want feel in their clothes—confident, at ease, indulged and in
                        control. By combining pragmatism with an unerring sense of chic, Kors’ unique take on
                        “all American sportswear” would eventually go global.

                        Kors was successful from the start, designing chic, luxurious sportswear that was both
                        glamorous and effortless. He built a reputation as a designer who understands how women
                        live and how they want feel in their clothes—confident, at ease, indulged and in
                        control. By combining pragmatism with an unerring sense of chic, Kors’ unique take on
                        “all American sportswear” would eventually go global.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-12 story">
            <div class="row">

                <div class="col-md-6 story-part">
                    <p>
                        “People think of sportswear as uniquely American, but women around the world love playing
                        with separates because they can put their own spin on them,” Kors has said. “The
                        creative thinking behind sportswear is the same no matter where you are—it’s all about
                        great pieces that women can wear every day.”
                    </p>
                </div>
                <div class="col-md-6 image2">
                    <img src="~/assets/images/ABOUT_US_6.jpg" alt="">
                </div>
            </div>

        </div>
        <div class="col-md-12 story">
            <div class="row">

                <div class="col-md-6 image1">
                    <img src="~/assets/images/ABOUT_US_7.jpg" alt="">
                </div>
                <div class="col-md-6 story-part">
                    <p>From 1997 to 2004, as he continued to build his own business, Michael Kors also served as creative director of Céline, the renowned French luxury brand. The appointment was notable—few American designers had headed up French brands—and his impact was significant. Kors is widely credited with restoring the brand’s luster, reestablishing it as a major European fashion house. During that same period, he launched Michael Kors Mens (2002) and MICHAEL Michael Kors (2004).</p>
                </div>
            </div>

        </div>
        <div class="col-md-12 story">
            <div class="row">
                <div class="col-md-6 story-part">
                    <p>
                        Despite the demands of running a global fashion house, Kors has always focused on giving
                        back. For over 25 years he has been a passionate supporter of God’s Love We Deliver, a
                        non-profit organization that cooks and delivers nutritious meals to people living with
                        serious illnesses in and around New York City. In 2013 Michael Kors launched “Watch
                        Hunger Stop,” partnering with the United Nations World Food Programme (WFP) to help
                        fight world hunger. To date, Michael Kors has helped WFP deliver over 17 million meals
                        to hungry children. In 2015 the designer was named Global Ambassador Against Hunger for
                        the United Nations World Food Programme.
                    </p>
                </div>
                <div class="col-md-6 image2">
                    <img src="~/assets/images/ABOUT_US_8.webp" alt="">
                </div>
            </div>

        </div>
    </div>
</section>

<section id="Mk-Collection">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 collection">
                <div class="row">

                    <div class="col-md-6 image1">
                        <a href=""><img src="~/assets/images/ABOUT_US_9.webp" alt=""></a>
                    </div>
                    <div class="col-md-6 collection-part">
                        <h5>MICHAEL KORS COLLECTION</h5>
                        <p class="about">
                            Michael Kors launched his all-American sportswear label in 1981,
                            earning
                            countless awards, an A-list clientele and global recognition for his luxurious take
                            on
                            sophisticated clothes designed for a woman’s everyday life. Synonymous with easy
                            glamour, timelessness and a jet set lifestyle, the collection includes sophisticated
                            separates and evening wear as well as shoes, handbags and other accessories.
                        </p>
                        <div class="link">
                            <p>
                                <a>MICHAEL KORS COLLECTION </a>
                            </p>
                            
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-md-12 collection">
                <div class="row">
                    <div class="col-md-6 collection-part">
                        <h5>MICHAEL MICHAEL KORS</h5>
                        <p class="about">
                            MICHAEL Michael Kors is a cool collection with a strong fashion
                            identity,
                            featuring a fresh mix of trends, colors, fabrics, prints and silhouettes that are
                            always
                            of-the-moment, that are sporty in feel but urban in attitude, conjuring a jet set
                            lifestyle. It offers a piece for every occasion, accessible luxury with a hint of
                            the
                            unexpected, modern glamour with an element of ease.
                        </p>
                        <div class="link">
                            <p>
                                <a>MICHAEL MICHAEL KORS</a>
                            </p>
                          
                        </div>
                    </div>
                    <div class="col-md-6 image2">
                        <a href=""><img src="~/assets/images/ABOUT_US_10.webp" alt=""></a>
                    </div>
                </div>

            </div>
            <div class="col-md-12 collection">
                <div class="row">

                    <div class="col-md-6 image1">
                        <a href=""><img src="~/assets/images/ABOUT_US_11.webp" alt=""></a>
                    </div>
                    <div class="col-md-6 collection-part">
                        <h5>MICHAEL KORS MENS</h5>
                        <p class="about">
                            Michael Kors menswear is an innovative collection with a modern
                            American
                            style—cool, sporty, sophisticated. Its signature sensibility is rooted in rich
                            sportswear, sleek tailoring and essential luxury. It offers the perfect balance of
                            polish and ease, with silhouettes that are casual yet luxurious, comfortable yet
                            sharp,
                            urban yet rugged.
                        </p>
                        <div class="link">
                            <p>
                                <a>MICHAEL KORS MENS </a>
                            </p>
                          
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>