#Followers {
    margin-top: 30px;

    .slick-dots {
        button {


            &::before {
                font-size: 10px;
            }
        }
    }

    .title-text {
        text-align: center;

        h1 {
            font-size: 33px;
            font-weight: bold;
            letter-spacing: 3px;
        }

        p {
            margin-top: 10px;
            letter-spacing: 1px;
            font-family: "Playfair Display", serif;
            font-optical-sizing: auto;
            font-style: normal;
        }
    }

    .slick-slide {
        margin: 0 15px;
    }

    .slick-next {
        &::before {
            width: fit-content;
            position: absolute;
            display: inline-block;
            right: 30px;
        }
    }

    .slick-prev {
        &::before {
            position: absolute;
            display: inline-block;
            left: 30px;
            z-index: 3000;
        }
    }

    .image {
        margin-top: 15px;
        background-color: black;
        transition: .3s;
        position: relative;
        cursor: pointer;

        img {
            width: 100%;
            transition: .3s;
        }

        .shop-now {
            position: absolute;
            top: 30%;
            left: 37%;
            color: white;
            opacity: 0;
            transition: .3s;

            div {
                text-align: center;

                .plus {
                    width: 40px;
                    height: 40px;
                    margin: 0 auto;
                    border: 2px solid white;
                    border-radius: 50%;
                    font-size: 32px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-bottom: 30px;
                }
            }

            @media only screen and (max-width:768px) {
                left: 40%;
            }
        }


        &:hover {
            img {

                opacity: 0.3;
            }

            .shop-now {
                opacity: 1;
            }
        }
    }


}