#FooterContent {
  background-color: #f4f4f4;

  .first-footer {
    padding-top: 50px;

    .country-store {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 10px;
      margin-bottom: 30px;

      .country {
        margin-right: 30px;
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 2px;

        a {
          color: black;
          text-decoration: none;

          i {
            font-size: 20px;
            margin-right: 3px;
          }
        }
      }

      .store {
        font-size: 17px;
        font-weight: 100;
        letter-spacing: 2px;

        a {
          color: black;
          text-decoration: none;

          i {
            font-size: 20px;
            margin-right: 2px;
          }
        }
      }
    }

    .email-sign-up {
      h2 {
        margin-left: 10px;
        font-weight: 100;
        font-size: 25px;
        letter-spacing: 2px;
        margin-bottom: 15px;
      }

      .input-group {
        width: 420px;

        .form-control {
          height: 50px;
          border-radius: 0;
        }

        .btn-outline-secondary {
          color: #fff;
          background-color: #000;
          border-color: #000;
          border-radius: 0;

          .btn-outline-secondary:hover {
            background-color: #000;
          }
        }
      }
    }

    .social-media {
      display: flex;
      justify-content: flex-start;
      margin-top: 50px;

      ul {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        list-style-type: none;
        padding: 0;

        li {
          margin-right: 30px;

          a {
            text-decoration: none;
            color: black;

            i {
              font-size: 20px;
            }
          }
        }
      }
    }

    .footer-right {
      display: flex;
      justify-content: flex-start;

      .headline {
        font-size: 12px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        margin-bottom: 25px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 15px;
          font-size: 13px;
          letter-spacing: 1px;

          a {
            color: black;
            text-decoration: none;

            &:hover {
              border-bottom: 1px solid black;
            }
          }
        }
      }
    }
  }

  .second-footer {
    margin-top: 20px;

    .line {
      border: .5px solid rgb(215, 213, 213);
      margin-bottom: 30px;
    }

    ul {
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;

      li {
        margin-right: 20px;
        color: #707070;
        font-size: .75rem;
        letter-spacing: 1px;

        a {
          color: #707070;
          text-decoration: none;

          &:hover {
            border-bottom: 1px solid black;
          }

          i {
            color: #000;
          }
        }
      }
    }
  }

  @media only screen and (max-width:768px) {
    .first-footer {
      text-align: center;
      width: 100%;
      margin: 0 auto;

      .country-store {
        justify-content: start;

        .country {
          display: none;
        }

        .store {
          a {
            font-size: 20px;

            i {
              font-size: 20px;
            }
          }
        }
      }

      .email-sign-up {
        h2 {
          font-size: 20px;
        }

        .input-group {
          width: 100%;
        }
      }

      .social-media {
        justify-content: center;
      }

      .footer-right {
        display: block;
        text-align: start;

        .head-plus {
          display: flex;
          justify-content: space-between;
          padding: 20px 0;
          margin: 0;
          height: 100%;
          align-items: center;
          border-top: 1px solid #949494;

          .headline {
            margin: 0;
            padding: 0;
          }

          p {
            margin: 0;
            padding: 0;
            font-size: 22px;
          }
        }

        ul {
          display: none;
        }
      }
    }

    .second-footer {
      ul {
        flex-wrap: wrap;

        li {
          margin-top: 10px;
        }
      }
    }
  }

  @media only screen and (max-width:431px) {
    width: 120% !important;
  }
}